@inject IStringLocalizer<Pages.Chat> Loc

@* This component displays information about a channel: id, creation data and member count *@

@if (_hasChannel)
{
    <div class="container">
        <div class="entry">
            <span class="key">@(Loc["id"])</span>
            <span class="spacer" />
            <span class="value">@(_id)</span>
        </div>
        <div class="entry">
            <span class="key">@(Loc["date_created"])</span>
            <span class="spacer" />
            <span class="value">@(_created)</span>
        </div>
        <div class="entry">
            <span class="key">@(Loc["users"])</span>
            <span class="spacer" />
            <span class="value">@(_users)</span>
        </div>
    </div>
}