@using BlazorChat.Client.Services
@using BlazorChat.Shared
@using System.Collections
@inject IChatStateService ChatStateService
@inject IChatApiService ChatApiService
@inject IMediaResolverService MediaService
@inject IStringLocalizer<Pages.Chat> Loc
@inject ISnackbar Snackbar

@* This dialog component allows the user to change their appearance in the chat service and update their password *@

<MudDialog>
    <TitleContent>
        <MudText Typo="Typo.h6">
            @(Loc["pedit_title"])
        </MudText>
    </TitleContent>
    <DialogContent>
        <div class="content">
            <InputFile id="fileInput" OnChange="uploadAvatar" hidden accept=".jpg, .jpeg, .png, .pdf" />
            @if (string.IsNullOrEmpty(_process))
            {
                <div class="content">
                    <MudText Style="margin-top: 2em">@(Loc["pedit_changename"])</MudText>
                    <MudTextField T=string Label="@(Loc["pedit_name"])" @bind-Text=@(_userName)></MudTextField>
                    <MudButton Disabled=@(_userName == (_selfUser?.Name ?? "")) OnClick=@(updateUserName)>@(Loc["pedit_applyname"])</MudButton>
                    <MudText Style="margin-top: 2em">@(Loc["pedit_changepw"])</MudText>
                    <MudTextField T=string Label="@(Loc["pedit_oldpassword"])" InputType=@(InputType.Password) @bind-Text=@(_oldPassword)></MudTextField>
                    <MudTextField T=string Label="@(Loc["pedit_newpassword"])" InputType=@(InputType.Password) @bind-Text=@(_newPassword) DebounceInterval=@(.2) OnDebounceIntervalElapsed=@(processPasswordFeedback)></MudTextField>
                    <MudTextField T=string Label="@(Loc["pedit_newpassword"])" InputType=@(InputType.Password) @bind-Text=@(_newPasswordRepeat) DebounceInterval=@(.2) OnDebounceIntervalElapsed=@(processPasswordFeedback)></MudTextField>
                    @if (string.IsNullOrEmpty(_passwordError))
                    {
                        <MudButton Disabled=@(string.IsNullOrEmpty(_oldPassword + _newPassword + _newPasswordRepeat)) OnClick=@(updatePassword)>@(Loc["pedit_applypw"])</MudButton>
                    }
                    else
                    {
                        <MudText Color=@(Color.Error)>@(_passwordError)</MudText>
                    }
                </div>
                <MudText Style="margin-top: 2em">@(Loc["pedit_changeavatar"])</MudText>
                <MudButton HtmlTag="label"
                       Variant="Variant.Outlined"
                       for="fileInput">
                    @if (!string.IsNullOrEmpty(_avatarUrl))
                    {
                        <img class="avatarpreview" src=@(_avatarUrl) />
                        <div class="flexspacer" />
                    }
                    <MudText>@(Loc["pedit_upload"])</MudText>
                </MudButton>
            }
            else
            {
                <MudText>@(_process)</MudText>
                <MudProgressCircular Indeterminate></MudProgressCircular>
            }
        </div>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick=@(exit)>@(Loc["close"])</MudButton>
    </DialogActions>
</MudDialog>


